<a href="https://colab.research.google.com/github/renatafrustockl/Bootcamp-IGTI---analista-de-Machine-Learning/blob/main/TRABALHO_PRATICO2_FAM_RENATA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#código para o desafio da disciplina FAM do bootcamp de MLE

In [ ]:
import pandas as pd #biblioteca utilizada para trabalhar com dataframes
import numpy as np #biblioteca utilizada no tratamento de matrizes e vetores
#import seaborn as sn #biblioteca utilizada pra plotar os gráficos em um formato mais "elegante"
#import matplotlib.pyplot as plt  #biblioteca utilizada para plotar os gráficos

In [ ]:
#from google.colab import files  #biblioteca utilizada para carregar os dados para o google colab
#uploaded = files.upload()

In [ ]:
#df_compart_bikes=pd.read_csv('comp_bikes_mod.csv') #carregamento do df 
df = pd.read_csv("https://pycourse.s3.amazonaws.com/bike-sharing.csv")
df.head(10)  #exibindo as 10 primeiras linhas do df

     datetime  rec_id  season  year  ...  windspeed  casual  registered  total_count
0  2011-01-01       1       1     0  ...     0.0000       3          13           16
1  2011-01-01       2       1     0  ...     0.0000       8          32           40
2  2011-01-01       3       1     0  ...     0.0000       5          27           32
3  2011-01-01       4       1     0  ...     0.0000       3          10           13
4  2011-01-01       5       1     0  ...     0.0000       0           1            1
5  2011-01-01       6       1     0  ...     0.0896       0           1            1
6  2011-01-01       7       1     0  ...     0.0000       2           0            2
7  2011-01-01       8       1     0  ...     0.0000       1           2            3
8  2011-01-01       9       1     0  ...     0.0000       1           7            8
9  2011-01-01      10       1     0  ...     0.0000       8           6           14

[10 rows x 17 columns]

- instant: identificador da leitura
- dteday : data
- season : estação (1:inverno, 2:primavera, 3:verão, 4:outono)
- yr : ano (0: 2011, 1:2012)
- mnth : mês ( 1 to 12)
- hr : hora (0 to 23)
- holiday : identificador para feriado 
- weekday : dia da semana
- workingday : 1 se é dia de semana e 0 caso contrário.
+ condições do tempo :
- 1: Ensolarado
- 2: Misto entre nuvens e ensolarado
- 3: Nevando ou com chuva fraca
- 4: Tempestade
- temp : temperatura em graus Celsius (medida) - normalizada
- atemp: sensação térmica - normalizada
- hum: umidade
- windspeed: velocidade do vento
- casual: número de usuários casuais
- registered: número de usuários registrados
- cnt: total de bikes alugadas

In [ ]:
print('Dimensão do dataframe: {}'.format(df.shape))

Dimensão do dataframe: (17379, 17)

In [ ]:
# Média da coluna windspeed
df['windspeed'].describe()

count    17379.000000
mean         0.190098
std          0.122340
min          0.000000
25%          0.104500
50%          0.194000
75%          0.253700
max          0.850700
Name: windspeed, dtype: float64

In [ ]:
df.info() #mostra as características do dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   datetime           17379 non-null  object
 1   rec_id             17379 non-null  int64
 2   season             17379 non-null  int64
 3   year               17379 non-null  int64
 4   month              17379 non-null  int64
 5   hour               17379 non-null  int64
 6   is_holiday         17379 non-null  int64
 7   weekday            17379 non-null  int64
 8   is_workingday      17379 non-null  int64
 9   weather_condition  17379 non-null  int64
 10  temp               17379 non-null  float64
 11  atemp              17379 non-null  float64
 12  humidity           17379 non-null  float64
 13  windspeed          17379 non-null  float64
 14  casual             17379 non-null  int64
 15  registered         17379 non-null  int64
 16  total_count        17379 non-null  int64
dtypes: float64(4), int64(12), object(1)
memory usage: 2.3+ MB

In [ ]:
print("Tipos de dados existentes do dataset: \n{}".format(df.dtypes.value_counts()))

Tipos de dados existentes do dataset:
int64      12
float64     4
object      1
dtype: int64

In [ ]:
print("Tipos de dados existentes do dataset: {}".format(df.dtypes.nunique()))

Tipos de dados existentes do dataset: 3

In [ ]:
#print("Proporção de valores nulos para variável 'temp': {}% ".format((len(df['temp'])/df.isnull().sum()["temp"])))

In [ ]:
#len(df['temp'])/df.isnull().sum()["temp"]

In [ ]:
# Quantos registros de locações existem para o ano de 2011 (número de linhas, número de colunas)?
expre_regular = r'^(\d{4})'   #define a expressão regular que deve ser utilizada para cada uma das datas de publicação (encontra o conjunto de 4 dígitos)
extr = df['datetime'].str.extract(expre_regular, expand=False)  #aplica o modelo de extração através da expressão regular definida

In [ ]:
extr[:1500]

0       2011
1       2011
2       2011
3       2011
4       2011
        ...
1495    2011
1496    2011
1497    2011
1498    2011
1499    2011
Name: datetime, Length: 1500, dtype: object

In [ ]:
#aplicando ao dataset e convertendo para numérico
df['datetime']=pd.to_numeric(extr)

In [ ]:
#NOVO Quantos registros de locações existem para o ano de 2011 (número de linhas, número de colunas)? e 2012?
df['datetime'].value_counts()  #conta os valores para cada uma das "classes"

2012    8734
2011    8645
Name: datetime, dtype: int64

In [ ]:
#NOVO Quantas locações de bicicletas foram efetuadas em 2011? 
new_df = df[df["datetime"] == 2011]

In [ ]:
# CONTINUAÇÃO Quantas locações de bicicletas foram efetuadas em 2011?
new_df['total_count'].sum()

1243103

In [ ]:
#NOVO Quantas locações de bicicletas foram efetuadas em 2012? 
new_df1 = df[df["datetime"] == 2012]

In [ ]:
# CONTINUAÇÃO Quantas locações de bicicletas foram efetuadas em 2012?
new_df1['total_count'].sum()

2049576

In [ ]:
#NOVO 8 - Qual estação do ano contém a MAIOR média de locações de bicicletas?
#NOVO 9 - Qual estação do ano contém a MENOR média de locações de bicicletas?
#new_df3 = df.groupby("total_count").mean() ["season"].sort_values()
#new_df3
df.groupby("season") ["total_count"].mean()

season
1    111.114569
2    208.344069
3    236.016237
4    198.868856
Name: total_count, dtype: float64

In [ ]:
#NOVO CONTINUANDO
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   datetime           17379 non-null  int64
 1   rec_id             17379 non-null  int64
 2   season             17379 non-null  int64
 3   year               17379 non-null  int64
 4   month              17379 non-null  int64
 5   hour               17379 non-null  int64
 6   is_holiday         17379 non-null  int64
 7   weekday            17379 non-null  int64
 8   is_workingday      17379 non-null  int64
 9   weather_condition  17379 non-null  int64
 10  temp               17379 non-null  float64
 11  atemp              17379 non-null  float64
 12  humidity           17379 non-null  float64
 13  windspeed          17379 non-null  float64
 14  casual             17379 non-null  int64
 15  registered         17379 non-null  int64
 16  total_count        17379 non-null  int64
dtypes: float64(4), int64(13)
memory usage: 2.3 MB

In [ ]:
# NOVO 10 - Qual horário do dia contém a MAIOR média de locações de bicicletas?
# NOVO 11 - Qual horário do dia contém a MENOR média de locações de bicicletas?
df.groupby("hour") ["total_count"].mean()

hour
0      53.898072
1      33.375691
2      22.869930
3      11.727403
4       6.352941
5      19.889819
6      76.044138
7     212.064649
8     359.011004
9     219.309491
10    173.668501
11    208.143054
12    253.315934
13    253.661180
14    240.949246
15    251.233196
16    311.983562
17    461.452055
18    425.510989
19    311.523352
20    226.030220
21    172.314560
22    131.335165
23     87.831044
Name: total_count, dtype: float64

In [ ]:
# NOVO 12 - Que dia da semana contém a MAIOR média de locações de bicicletas?
# NOVO 13 - Que dia da semana contém a MENOR média de locações de bicicletas?
df.groupby("weekday") ["total_count"].mean()

weekday
0    177.468825
1    183.744655
2    191.238891
3    191.130505
4    196.436665
5    196.135907
6    190.209793
Name: total_count, dtype: float64

In [ ]:
# NOVO 14 - Às quartas-feiras (weekday = 3), qual o horário do dia contém a maior média de locações de bicicletas?
new1 = df[df["weekday"] == 3]

       datetime  rec_id  season  ...  casual  registered  total_count
92         2011      93       1  ...       0           6            6
93         2011      94       1  ...       0           6            6
94         2011      95       1  ...       0           2            2
95         2011      96       1  ...       0           2            2
96         2011      97       1  ...       0           3            3
...         ...     ...     ...  ...     ...         ...          ...
17254      2012   17255       1  ...       2          33           35
17255      2012   17256       1  ...       0          32           32
17256      2012   17257       1  ...       0          20           20
17257      2012   17258       1  ...       0          11           11
17258      2012   17259       1  ...       2           8           10

[2475 rows x 17 columns]

In [ ]:
# NOVO CONINUAÇÃO QUESTÃO 14
new1.groupby("hour")["total_count"].mean()

hour
0      94.304762
1      67.780952
2      50.495238
3      22.885714
4       7.657143
5       8.291262
6      21.000000
7      45.961905
8     114.476190
9     186.790476
10    263.723810
11    328.609524
12    375.380952
13    385.371429
14    381.333333
15    382.428571
16    366.142857
17    334.409524
18    292.048077
19    239.932692
20    180.865385
21    156.000000
22    139.663462
23    115.855769
Name: total_count, dtype: float64

In [ ]:
#NOVO CONTINUAÇÃO QUESTÃO 14
new1

       datetime  rec_id  season  ...  casual  registered  total_count
92         2011      93       1  ...       0           6            6
93         2011      94       1  ...       0           6            6
94         2011      95       1  ...       0           2            2
95         2011      96       1  ...       0           2            2
96         2011      97       1  ...       0           3            3
...         ...     ...     ...  ...     ...         ...          ...
17254      2012   17255       1  ...       2          33           35
17255      2012   17256       1  ...       0          32           32
17256      2012   17257       1  ...       0          20           20
17257      2012   17258       1  ...       0          11           11
17258      2012   17259       1  ...       2           8           10

[2475 rows x 17 columns]

In [ ]:
# NOVO 15 - Aos sábados (weekday = 6), qual o horário do dia contém a maior média de locações de bicicletas?
new1 = df[df["weekday"] == 6]
new_df = new1.groupby("hour") ["total_count"].mean()
new_df.sort_values()

hour
4       7.657143
5       8.291262
6      21.000000
3      22.885714
7      45.961905
2      50.495238
1      67.780952
0      94.304762
8     114.476190
23    115.855769
22    139.663462
21    156.000000
20    180.865385
9     186.790476
19    239.932692
10    263.723810
18    292.048077
11    328.609524
17    334.409524
16    366.142857
12    375.380952
14    381.333333
15    382.428571
13    385.371429
Name: total_count, dtype: float64